<nav class="teal accent-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Shop</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isIndex}}
      <li class="active"><a href="/">Products</a></li>
      {{else}}
      <li><a href="/">Products</a></li>
      {{/if}}

      {{#if isBasket}}
      <li class="active"><a href="/basket">Basket</a></li>
      {{else}}
      <li><a href="/basket">Basket</a></li>
      {{/if}}

      {{#if isCreate}}
      <li class="active"><a href="/create">Create</a></li>
      {{else}}
      <li><a href="/create">Create</a></li>
      {{/if}}

      {{#if isDelete}}
      <li class="active"><a href="/delete">Delete</a></li>
      {{else}}
      <li><a href="/delete">Delete</a></li>
      {{/if}}

      {{#if isUpdate}}
      <li class="active"><a href="/updateList">Update</a></li>
      {{else}}
      <li><a href="/updateList">Update</a></li>
      {{/if}}

    </ul>
  </div>
</nav>