<h3>Delete products</h3>

{{#if products.length}}
<ul>
    {{#each products}}
    <div class="row">
        <form action="/delete" method="POST">
            <div class="divider"></div>
            <div class="section">
                <span >name: </span>
                <span>{{name}} </span>
                <span >price $: </span>
                <span>{{price}} </span>
                <span >category: </span>
                <span>{{category}} </span>
                <span >supplier: </span>
                <span>{{supplier}} </span>

                <input type="hidden" value="{{_id}}" name="id">
            </div>
            <button class="bin btn-small orange accent-4" type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</ul>
{{else}}
<p>No products!</p>
{{/if}}