<h2>Delete products</h2>

{{#if products.length}}
<ul>
    {{#each products}}
    <div class="row">
        <form action="/delete" method="POST">
            <div class="divider"></div>
            <div class="section">
                <span>name: {{name}} </span>
                <span>price: {{price}} </span>
                <span>category: {{category}} </span>
                <span>supplier: {{supplier}} </span>

                <input type="hidden" value="{{_id}}" name="id">
            </div>
            <button class="bin btn-small" type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</ul>
{{else}}
<p>No products!</p>
{{/if}}