<h3>Products</h3>
<div>
    {{#if products.length}}
    <div class="row">
        {{#each products}}
        <div class="row">
            <form action="/filtr" method="POST">
                <span>category: {{category}} </span>
                <input type="hidden" value="{{category}}" name="category">
                <button type="submit" class="bin btn-small teal accent-1">filtr</button>
            </form>
        </div>
        {{/each}}
    </div>

    {{#each products}}
    <div class="row">

        <form action="/" method="POST">
            <div class="divider"></div>
            <div class="section">
                <span>name: {{name}} </span>
                <span>price: {{price}} </span>
                <span>category: {{category}} </span>
                <span>supplier: {{supplier}} </span>
            </div>
            <input type="hidden" value="{{_id}}" name="id">
            {{#if inTheBasket}}
            <button type="submit" class="bin btn-small teal accent-4">Remove</button>
            {{else}}
            <button type="submit" class="bin btn-small orange accent-4">Put</button>
            {{/if}}
        </form>
    </div>
    {{/each}}
    {{else}}
    <p>No products!</p>
    {{/if}}
</div>