<h2>Products in the basket</h2>
<div>
    {{#if products.length}}
    <ul>
        {{#each products}}
        <li>
            <span>{{products}}</span>
            <form action="/basket" method="POST">
                <span>name: {{name}} </span>
                <span>price: {{price}} </span>
                <span>category: {{category}} </span>
                <span>supplier: {{supplier}} </span>
                <span>supplier: {{inTheBasket}} </span>

                <input type="hidden" value="{{_id}}" name="id">

                <button type="submit" class="bin btn-small">outTheBasket</button>
            </form>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No products in the basket!</p>
    {{/if}}
</div>