<h2>Products in the basket</h2>
<div>
    {{#if products.length}}
    <ul>
        {{#each products}}
        <div class="row">
            <span>{{products}}</span>
            <form action="/basket" method="POST">
                <div class="divider"></div>
                <div class="section">
                    <span>name: {{name}} </span>
                    <span>price: {{price}} </span>
                    <span>category: {{category}} </span>
                    <span>supplier: {{supplier}} </span>

                    <input type="hidden" value="{{_id}}" name="id">
                </div>
                <button type="submit" class="bin btn-small">Remove</button>
            </form>
        </div>
        {{/each}}
    </ul>
    {{else}}
    <p>No products in the basket!</p>
    {{/if}}
</div>