<h2>Update product</h2>

{{#if id}}
<form action="/update" method="POST">
    <input type="hidden" value="{{id}}" name="id">

    <input type="text" value="{{name}}" name="name"><label>name</label>
    <input type="number" value="{{price}}" name="price"><label>price</label>
    <input type="text" value="{{category}}" name="category"><label>category</label>
    <input type="text" value="{{supplier}}" name="supplier"><label>supplier</label>

    <button class="bin btn-small" type="submit">Save</button>
</form>
{{else}}
<p>No product!</p>
{{/if}}