<h2>Update product's list</h2>

{{#if products.length}}
<ul>
    {{#each products}}
    <li>
        <form action="/updateList" method="POST">
            <label>
                <span>name: {{name}} </span>
                <span>price: {{price}} </span>
                <span>category: {{category}} </span>
                <span>supplier: {{supplier}} </span>

                <input type="hidden" value="{{_id}}" name="id">

                <button class="bin btn-small" type="submit">Update</button>
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No products!</p>
{{/if}}